@use 'variables' as var;
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import 'styles.module.scss';

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var.$secondary-font;
  color: var.$grey-1;
  line-height: 1.5;
  font-size: 0.875rem;
  background: var.$white;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var.$spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var.$primary-font;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var.$grey-5;
}
@media screen and( min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.break-wrapper {
  width: 100%;
  margin-top: -50px;
  padding: 0 100px;

  .break {
    border-bottom: 2px solid var.$primary-10;
    width: 100%;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    padding: 0;
  }
}
