@use 'variables' as var;

/*
=============== 
Navbar Styles
===============
*/

nav {
  background: var.$white;
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: var.$light-shadow;
  font-style: italic;
  color: var.$black;
  margin-bottom: 0;
  font-weight: var.$font-weigth-3;
}
.nav-container {
  width: 90vw;
  max-width: var.$fixed-width;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

/*
=============== 
Jumbotron Styles
===============
*/

.jumbo-container {
  padding: var.$d3;
  margin-bottom: var.$d10 / 2;
  line-height: 0.75;
}

.jumbo-item {
  display: flex;
  padding: var.$d5 5%;
  overflow: hidden;
}
.jumbo-wrapper {
  width: 50%;

  h1 {
    font-size: var.$font-size-0;
    line-height: 1.1;
    margin-bottom: var.$d0;
    @media (max-width: 600px) {
      font-size: var.$font-size-1;
    }
  }

  @media (max-width: 1000px) {
    width: 100%;
    padding: 0 45px;
    text-align: center;
  }
}

.jumbo-content {
  p {
    font-weight: normal;
    line-height: 1;
    font-size: var.$font-size-2;
    @media (max-width: 600px) {
      font-size: var.$font-size-4;
      line-height: 1.2;
    }
  }
  @media (max-width: 600px) {
    margin-top: var.$d1;
  }
}

/*
=============== 
Groups Styles
===============
*/

.group-container {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  font-size: 24px;
  color: red;
  padding: 0 5rem;
}

.group-wrapper {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 350px);
  align-items: start;
  @media (max-width: 600px) {
    justify-content: center;
  }
}

.grp-list {
  background-color: transparent;
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
}

.grp-title {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 14px;
  background-color: var.$green-light;
  border-radius: 5px;
  padding-left: var.$d0;
  padding-bottom: 4px;
  max-width: fit-content;

  span {
    margin-left: 8px;
  }
}

.list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 8px;
  height: 40px;
  width: 260px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var.$grey-9;
  box-shadow: var.$light-shadow;
  font-size: 14px;
  font-weight: bold;

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.group-heading {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.current {
  box-shadow: var.$light-shadow;
}

.fallback-ui {
  @include layer;
  color: var.$red-dark;
  a {
    text-decoration: none;
    span {
      color: var.$primary-6;
    }
  }

  h3 {
    font-weight: lighter;
  }

  .iconify {
    width: 50px;
    height: 50px;
  }

  .errorBtn {
    @include basic-button;
  }
}

.new-tsk-item {
  border: 2px solid red;
}

/*
=============== 
Buttons Styles
===============
*/

.button-wrapper {
  @include button-wrapper(false);
  height: 34px;
  width: 34px;
  margin-top: -2px;
}

.button {
  cursor: pointer;
  @include button($height: 34px, $width: 34px, $default: true, $padding: 0);
  border: none;
  &:hover {
    color: var.$primary-4;
  }

  .iconify {
    @include dimensions(24px, 24px);
  }
}

.task-add-btn {
  @include button($height: 34px, $width: 34px, $default: true, $padding: 0);
  border: none;

  .iconify {
    @include dimensions(24px, 24px);
    margin-left: 8rem;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include dimensions(40px, 260px);
  padding-top: 12px;
}

.list-item {
  input {
    @include dimensions(36px, 200px);
    display: flex;
    justify-content: flex-start;
    border: none;
    font-size: 15px;
    color: orange;
    font-weight: 600;
  }
}

.check-btn {
  margin-top: 5px;
}
